*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'inter';
}
a{
     text-decoration: none!important;
     color: #000;
}
body{
     height: 100vh;
     overflow: hidden;
}
nav{
     padding: 30px 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 10vh;
}
.brand{
     color: #18293C;
     font-size: 20px;
     font-size: 900;
}
.we{
     color: #C3002E;
}
.brand:hover{
     color: #C3002E;
}
.others, .links{
     display: flex;
     gap: 35px;
     align-items: center;
}
.links {
     gap: 35px;
     color: #18293C;
}
.link{
     text-transform: capitalize;
     font-size: 17px;
     font-weight: 500;
     cursor: pointer;
     position: relative;
}
.active{
     background-color: #C3002E;
     width: 15px;
     height: 15px;
     border-radius: 100%;
     position: absolute;
     left: 40%;
     bottom: -70%;
}
.navbutton{
     border: 1px solid #C3002E;
     color: #C3002E;
     padding: 12px 7px;
     font-weight: 500;
}
.navbutton:hover{
     background-color: #C3002E;
     color: white;
}
#hero{
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     padding: 0 60px;
     height: 90vh;
}
.heroContent{
     display: flex;
     flex-direction: column;
     gap: 20px;
}
.heroHead{
     font-size: 48px;
     color: #18293C;
     font-weight: 600;
}
.heroHeadColor{
     color: #C3002E;
}
.heroText{
     font-size: 20px;
     color: #18293C;
     font-weight: 500;
}
.heroButton{
     padding: 15px 37px;
     font-weight: 600;
     background-color: #C3002E;
     width: max-content;
     font-size: 24px;
     border-radius: 5px;
     color: #fff;
     cursor: pointer;
     box-shadow: #18293C 2px 2px 5px;
}
.heroImg{
     width: 100%;
     height: 90vh;
}
img{
     width: 100%;
     height: 100%;
     object-fit: contain;
}
.icons{
     padding: 30px 34px;
     display: none;
     justify-content: space-between;
}
.icons i{
     font-size: 25px;
}
.icons .act{
     color: #C3002E;
}

@media (max-width: 768px){
     body{
          height: 100vh;
          overflow: hidden;
     }
     nav{
          padding: 30px 20px;
     }
     #hero{
          padding: 42px 32px;
          display: block;
          display: flex;
          flex-direction: column-reverse;
          height: max-content;
     }
     .heroHead{
          font-size: 30px;
     }
     .heroText{
          font-size: 16px;
     }
     .heroButton{
          padding: 10px;
          font-size: 15px;
          margin-left: auto;
     }
     .heroImg{
          height: 50vh!important;
     }
     .links{
          display: none;
     }
     .icons{
          margin-top: -15px;
          display: flex;
     }
}