@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     /* color: #C3002E;
     color: #18293C; */
     font-family: 'inter';
}
a{
     text-decoration: none!important;
     color: #183F63;
}
body{
     overflow-x: hidden;
}
nav{
     padding: 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 10vh;
}
nav i{
     font-size: 22px;
}
.user{
     font-size: 22px;
     font-weight: 300;
}
.offcanvas{
     background-color: #183F63;
     border-radius: 0px 30px 30px 0px;
     width: 250px!important;
}
.offcanvas-body{
     display: flex;
     flex-direction: column;
     gap: 30px;
}
.wel{
     display: flex;
     align-items: center;
     gap: 5px;
}
.wel h5{
     color: #fff;
     font-size: 24px;
     font-weight: medium;
}
.dp{
     width: 85px;
     height: 80px;
}
.dp img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 8px;
}
.links{
     display: flex;
     flex-direction: column;
     gap: 15px;
}
.link{
     color: #ffffff79;
     font-size: 20px;
     cursor: pointer;
}
.link a{
     text-decoration: none;
     color: #ffffff79;
}
.link i{
     color: #BC012E;
}
.mainProfile{
     margin: auto;
     margin-top: -30px;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 20px;
}
.dpProfile{
     margin: auto;
     width: 200px;
     height: 130px;
     border: 1px solid #BC012E;
     border-radius: 45px;
}
.dpProfile img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 45px;
}
.mainInf{
     display: flex;
     flex-direction: column;
     justify-content: center;
     color: #183F63;
}
.fullName{
     font-size: 32px;
     font-weight: 600;
     text-transform: capitalize;
}
.userNameee{
     font-size: 30px;
     font-weight: 600;
}
.emaill{
     font-size: 20px;
     font-weight: 300;
}
.categories{
     padding: 0 20px;
     margin-bottom: 20px;
}
.category{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     column-gap: 15px;
     row-gap: 30px;
}
.cat{
     border-radius: 30px;
     height: 180px;
}
.gen{
     width: 320px;
     background-color: #623E8E;
     border-radius: 30px;
     display: grid;
     place-items: center;
}
.sub{
     background: transparent;
     border-top: 10px solid #fff;  
     display: grid;
     place-items: center;
     color: #623E8E;
}
.suber{
     display: grid;
     place-items: center;
     background-color: #fff;
     height: 100px;
     width: 250px;
     margin-top: 15px;
     font-weight: 700;
     font-size: 24px;
     text-transform: uppercase;
     border-top-left-radius: 30px;
     border-top-right-radius: 30px;
     padding-bottom: 15px;
}
.sube{
     display: flex;
     gap: 10px;
     justify-content: center;
}
.sube div{
     width: 50px;
     height: 50px;
     display: grid;
     place-items: center;
     border: 2px solid #623E8E;
}
.sub .child1{
     rotate: -90deg;
     font-size: 20px;
}
.sube .child{
     font-size: 32px;
     font-weight: 500;
}
.CatQuotes{
     background-color: #183F63;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     gap: 12px;
     padding: 10px 20px;
}
.CatQuotes{
     color: #fff;
}
.CatQuotes .quoteH1{
     font-size: 25px;
     font-weight: 700;
}
.CatQuotes .quoteIcon{
     height: 77px;
     width: 116px;
}
.CatQuiz{
     background: linear-gradient(to bottom, #BA002F, #BA002F,#E05419,#E05419);
     color: #fff;
     padding: 10px 20px;
}
.quizH1{
     font-weight: 500;
     text-align: center;
     font-size: 40px;
}
.quizH1 span{
     font-size: 128px;
}
.catLane{
     background-color: #085A92;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     gap: 10px;
}
.laneIcon{
     font-weight: 900;
     font-size: 90px;
     background-clip: text;
     color: transparent;
     background-image: linear-gradient(to top, transparent,#ffffffab ,#fdfdfdf1, #fff);
}
.laneH1{
     font-weight: 800;
     font-size: 24px;
}
.laneH1 span{
     font-size: 40px;
}
.catLenes{
     background-color: #088B7B;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     position: relative;
}
.firstCircle{
     width: 145px;
     height: 132px;
     border-radius: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-color: #4FC5B6;
}
.secondCircle{
     width: 122px;
     height: 115px;
     border-radius: 100%;
     background-color: #76D2C7;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
}
.lensText{
     width: 100px;
     height: 91px;
     border-radius: 100%;
     background-color: #088B7B;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: #fff;
     font-size: 20px;
     text-transform: uppercase;
     font-weight: 800;
}
.handlde{
     position: absolute;
     width: 17.17px;
     height: 35px;
     background-color: #4FC5B6;
     rotate: 135deg;
     bottom: 13%;
     right: 28%;
}
.shape{
     position: absolute;
     border-radius: 26% 100% 24% 52% / 0% 82% 23% 88%;
     width: 44px;
     height: 39px;
     background: linear-gradient(270deg, #76D2C7, #76d2c76e);
     left: 10%;
     bottom: 15%;
}
.catNote{
     background-color: #FFB763;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     position: relative;
}
.lines{
     width: 80%;
     display: flex;
     flex-direction: column;
     gap: 28.5px;
}
.line{
     width: 100%;
     height: 2px;
     background-color: black;
}
.noteText{
     position: absolute;
     width: 100%;
     font-size: 36px;
     color: #0d0d0d;
     font-weight: 900;
}
.note{
     position: absolute!important;
     left: 10%!important;
     top: -8%!important;
}
.pad{
     position: absolute;
     right: 10%;
     bottom: -8%;
}
.catMore{
     background-color: #E5E5E5;
     justify-content: center;
     align-items: center;
     text-align: center;
     display: none;
}
.icons{
     position: fixed;
     padding: 30px 34px;
     display: none;
     justify-content: space-between;
     width: 100%;
     bottom: 1%;
     background-color: #ffffff65;
}
.icons a{
     color: #0f0e0e;
}
.icons i{
     font-size: 25px;
}
.icons .act{
     color: #C3002E;
}
@media (max-width: 768px){
     nav{
          padding: 15px;
     }
     .offcan{
          display: none;
     }
     .category{
          grid-template-columns: repeat(2,1fr);
     }
     .gen{
          width: 190px;
     }
     .suber{
          width: 170px;
     }
     .catMore{
          display: flex;
     }
     .icons{
          margin-top: -15px;
          display: flex;
     }
}