@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Inknut Antiqua", serif;
}
a{
     text-decoration: none!important;
     color: #000;
}
body{
     height: 100vh;
     overflow: hidden;
     background: linear-gradient(to bottom, #623F8E 90%, #633f8e31);
}
nav{
     padding-left: 30px;
     padding-top: 30px;
     cursor: pointer;
     position: fixed;
     top: 0;
}
nav i{
     color: #fff;
}
.offcan{
     display: none;
}
.offcanvas{
     background-color: #623F8E;
     border-radius: 0px 30px 30px 0px;
     width: 250px!important;
}
.offcanvas-body{
     display: flex;
     flex-direction: column;
     gap: 30px;
}
.wel{
     display: flex;
     align-items: center;
     gap: 5px;
}
.wel h5{
     color: #fff;
     font-size: 24px;
     font-weight: medium;
}
.dp{
     width: 85px;
     height: 80px;
}
.dp img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 8px;
}
.links{
     display: flex;
     flex-direction: column;
     gap: 15px;
}
.link{
     color: #ffffffbb;
     font-size: 20px;
     cursor: pointer;
}
.link a{
     text-decoration: none;
     color: #ffffff8f;
}
.active a{
     color: #fff;
}
.link i{
     color: #BC012E;
}
.calendar {
     margin: 0 auto;
     margin-top: 40px;
     height: 450px;
     width: 756px;
     background-color: #D9D9D9;
     overflow: hidden;
     padding: 35px 50px 0px 50px;
     position: relative;
     border-radius: 20px;
}
   
   .calendar {
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   }
   
   .calendar-header {
     background: #623F8E;
     display: flex;
     justify-content: space-between;
     border-radius: 7px;
     align-items: center;
     color: #ffffff;
     padding: 10px;
     font-size: 25px;
     font-size: 500;
   }
   
   .calendar-week-days {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     font-weight: 600;
     cursor: pointer;
   }
   
   .calendar-week-days div:hover {
     color: black;
     transform: scale(1.2);
     transition: all .2s ease-in-out;
   }
   
   .calendar-week-days div {
     display: flex;
     place-items: center;
     color: #623F8E;
     height: 50px;
     text-align: center;
   }
   
   .calendar-days {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     font-size: 20px;
     font-weight: 200;
     color: #000000;
     row-gap: 20px!important;
     column-gap: 65px;
     text-align: center;
     width: 100%;
   }
   
   .calendar-days div {
     width: 37px;
     height: 33px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 5px;
     position: relative;
     cursor: pointer;
     animation: to-top 1s forwards;
   }
   
   .month-picker {
     padding: 5px 10px;
     border-radius: 10px;
     cursor: pointer;
   }
   
   .year-picker {
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   .year-change {
     height: 30px;
     width: 30px;
     border-radius: 50%;
     display: grid;
     place-items: center;
     margin: 0px 10px;
     cursor: pointer;
   }
   
   .year-change:hover {
     /* background-color: #333; */
     transition: all .2s ease-in-out;
     transform: scale(1.12);
   }
   
   .calendar-footer {
     padding: 10px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
   }
   
   #year:hover {
     cursor: pointer;
     transform: scale(1.2);
     transition: all 0.2 ease-in-out;
   }
   
   .calendar-days div span {
     position: absolute;
   }
   
   .calendar-days div:hover {
     transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
     background-color: #633f8e6e;
     border-radius: 20%;
     color: #f8fbff;
   }
   
   .calendar-days div.current-date {
     color: #f8fbff;
     background-color: #623F8E;
     border-radius: 20%;
   }
   
   .month-list {
     position: relative;
     left: 0;
     top: -54%;
     background-color: #ebebeb;
     color: #151426;
     display: grid;
     grid-template-columns: repeat(3, auto);
     gap: 5px;
     border-radius: 20px;
   }
   
   .month-list>div {
     display: grid;
     place-content: center;
     margin: 5px 10px;
     transition: all 0.2s ease-in-out;
   }
   
   .month-list>div>div {
     border-radius: 15px;
     padding: 10px;
     cursor: pointer;
   }
   
   .month-list>div>div:hover {
     background-color: #623F8E;
     color: #f8fbff;
     transform: scale(0.9);
     transition: all 0.2s ease-in-out;
   }
   
   .month-list.show {
     visibility: visible;
     pointer-events: visible;
     transition: 0.6s ease-in-out;
     animation: to-left .71s forwards;
   }
   
   .month-list.hideonce {
     visibility: hidden;
   }
   
   .month-list.hide {
     animation: to-right 1s forwards;
     visibility: none;
     pointer-events: none;
   }
   
   .date-time-formate {
     height: 4rem;
     width: 100%;
     position: relative;
     display: flex;
     top: 20px;
     justify-content: center;
     align-items: center;
     color: #fff;
   }
   
   .day-text-formate {
     font-size: 32px;
     font-weight: 500;
     padding-right: 35px;
     border-right: 5px solid #fff;
   }
   
   .date-time-value {
     display: block;
     position: relative;
     text-align: center;
     padding-left: 35px;
   }
   
   .time-formate {
     font-size: 32px;
   }
   .date-formate {
   font-size: 20px;
}
   
   .time-formate.hideTime {
     animation: hidetime 1.5s forwards;
   }
   
   .day-text-formate.hidetime {
     animation: hidetime 1.5s forwards;
   }
   
   .date-formate.hideTime {
     animation: hidetime 1.5s forwards;
   }
   
   .day-text-formate.showtime {
     animation: showtime 1s forwards;
   }
   
   .time-formate.showtime {
     animation: showtime 1s forwards;
   }
   
   .date-formate.showtime {
     animation: showtime 1s forwards;
   }
   
   @keyframes to-top {
     0% {
       transform: translateY(0);
       opacity: 0;
     }
   
     100% {
       transform: translateY(100%);
       opacity: 1;
     }
   }
   
   @keyframes to-left {
     0% {
       transform: translatex(230%);
       opacity: 1;
     }
   
     100% {
       transform: translatex(0);
       opacity: 1;
     }
   }
   
   @keyframes to-right {
     10% {
       transform: translatex(0);
       opacity: 1;
     }
   
     100% {
       transform: translatex(-150%);
       opacity: 1;
     }
   }
   
   @keyframes showtime {
     0% {
       transform: translatex(250%);
       opacity: 1;
     }
   
     100% {
       transform: translatex(0%);
       opacity: 1;
     }
   }
   
   @keyframes hidetime {
     0% {
       transform: translatex(0%);
       opacity: 1;
     }
   
     100% {
       transform: translatex(-370%);
       opacity: 1;
     }
   }
   .circle{
     width: 94px;
     height: 82px;
     background-color: #623F8E;
     border-radius: 100%;
     position: absolute;
   }
   .circle1{
     left: 50px;
     top: -60px;
   }
   .circle2{
     right: 50px;
     top: -60px;
   }
   .circle3{
     left: 50px;
     bottom: -60px;
   }
   .circle4{
     right: 50px;
     bottom: -60px;
   }
   .circle5{
     left: -60px;
     top: 80px;
   }
   .circle6{
     left: -60px;
     bottom: 80px;
   }
   .circle7{
     right: -60px;
     top: 80px;
   }
   .circle8{
     right: -60px;
     bottom: 80px;
   }

   @media (max-width: 768px){
     body{
          height: 100vh;
          overflow: hidden;
     }
     .arrow-left{
          display: none!important;
     }
     .offcan{
          display: block!important;
     }

}